In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
leftjoin_df = pd.read_csv('D:/python/bigdataproject/농기계 임대 기준 left join.csv')
leftjoin_df.head()

,No,임대사업장,임대기간,임대일수,주소,성별,나이,임대농기계,임대료(원),배송방법,계,임대농기계2,구분,종류,기종,기종2
0,1,서부분소,2018-04-20∼2018-04-21,2,경상북도 안동시 풍산읍,남자,51,서-플라우(트)16-6,20000,자가배송\n(0),"20,000",서플라우(트),트랙터및작업기,플라우,서-플라우(트)16-6,서플라우(트)
1,2,서부분소,2018-04-03∼2018-04-03,1,경상북도 안동시 풍산읍,남자,76,서-비료살포기(트)16-2(PTO방식),10000,자가배송\n(0),"10,000",서비료살포기(트)(PTO방식),트랙터및작업기,비료살포기,서-비료살포기(트)16-1(PTO방식),서비료살포기(트)(PTO방식)
2,3,북부분소,2018-08-22∼2018-08-26,5,경상북도 안동시 중구동,남자,62,북-인력파종기18-4,25000,자가배송\n(0),"25,000",북인력파종기,자주형파종기,파종기,북-인력파종기18-1,북인력파종기
3,4,북부분소,2018-03-30∼2018-03-30,1,경상북도 안동시 녹전면,남자,48,북-심경로타리(트)16-3,30000,\n(0),"30,000",북심경로타리(트),트랙터및작업기,심경로타리,북-심경로타리(트)16-1,북심경로타리(트)
4,5,서부분소,2018-01-02∼2018-01-02,1,경상북도 안동시 풍천면,남자,67,서-콩정선기16-1,0,자가배송\n(0),0,서콩정선기,탈곡기및정선기,콩정선기,서-콩정선기16-1,서콩정선기

In [3]:
leftjoin_df[leftjoin_df['기종2'].isna()]['임대농기계2'].unique()

array(['콩수확기', '로터베이터', '관리기', '콩탈곡기(모)', '농용돌파쇄기(트)', '땅속작물수확기(경)(레)',
       '심경로타리(역회전)', '보통형콤바인', 'SS기(운)', '콩탈곡기(경)'], dtype=object)

In [4]:
#2018~2020 합친거
#안동시 농기계 보유 목록

In [5]:
df2018 = pd.read_excel('D:/python/bigdataproject/안동시 농기계 임대차 관리대장(2018년)_비식별화.xlsx')
df2019 = pd.read_excel('D:/python/bigdataproject/안동시 농기계 임대차 관리대장(2019년)_비식별화.xlsx')
df2020 = pd.read_excel('D:/python/bigdataproject/안동시 농기계 임대차 관리대장(2020년)_비식별화.xlsx')

In [6]:
df2018.rename(columns = {'구분':'주소'}, inplace = True)

In [7]:
dfyear = pd.concat([df2018, df2019, df2020], axis = 0)
dfyear.head()

,No,임대사업장,임대기간,임대일수,주소,성별,나이,임대농기계,임대료(원),배송방법,계
0,1,서부분소,2018-04-20∼2018-04-21,2,경상북도 안동시 풍산읍,남자,51,서-플라우(트)16-6,20000,자가배송\n(0),"20,000"
1,2,서부분소,2018-04-03∼2018-04-03,1,경상북도 안동시 풍산읍,남자,76,서-비료살포기(트)16-2(PTO방식),10000,자가배송\n(0),"10,000"
2,3,북부분소,2018-08-22∼2018-08-26,5,경상북도 안동시 중구동,남자,62,북-인력파종기18-4,25000,자가배송\n(0),"25,000"
3,4,북부분소,2018-03-30∼2018-03-30,1,경상북도 안동시 녹전면,남자,48,북-심경로타리(트)16-3,30000,\n(0),"30,000"
4,5,서부분소,2018-01-02∼2018-01-02,1,경상북도 안동시 풍천면,남자,67,서-콩정선기16-1,0,자가배송\n(0),0

In [8]:
nonggigae = pd.read_csv('D:/python/bigdataproject/nonggigae.csv', encoding = 'euc-kr')
nonggigae.head()

,Unnamed: 0,연번,구분,종류,임대농기계,Unnamed: 5,제조업체,규격,제조(기대번호),형식,대수,구입금액,Unnamed: 12,구입일자,비고
0,3,1,탈곡기및정선기,곡물정선기,풍구 14-1,NaN,경안농기계,모터용,14-1226,KA330,1,400000,NaN,2014-12-26,NaN
1,4,2,탈곡기및정선기,곡물정선기,풍구 14-2,NaN,경안농기계,모터용,14-1227,KA330,1,400000,NaN,2014-12-26,NaN
2,5,3,탈곡기및정선기,농산물선별기,콩정선 선별기 14-1,NaN,경안농기계,600kg/h,14-01225,KAS-1500,1,1700000,NaN,2014-12-26,NaN
3,6,4,탈곡기및정선기,농산물선별기,콩정선 선별기 14-2,NaN,경안농기계,600kg/h,14-01227,KAS-1500,1,1700000,NaN,2014-12-26,NaN
4,7,5,기타임대농기계,농산물세척기,농산물세척기12-1,NaN,영동농기계(주),0.40kw,2012-07117,YD1000W,1,2200000,NaN,2012-05-25,NaN

In [9]:
nonggigae[['구분','종류','임대농기계','연번']].groupby(['구분','종류','임대농기계'],as_index = True).count()

                                연번
구분      종류    임대농기계
경운기및작업기 보행경운기 동력경운기(경)16-1       1
              동력경운기(경)16-2       1
              동력경운기(경)21-1       1
              북-동력경운기(경)10-1     1
              북-동력경운기(경)16-2     1
...                             ..
트랙터및작업기 휴립복토기 휴립복토기(트)18-4/2두둑   1
        휴립피복기 북-휴립피복기(트)16-1     1
              서-휴립피복기(트)16-1     1
              휴립피복기(트)18-1       1
              휴립피복기(트)18-2       1

[614 rows x 1 columns]

In [10]:
g = leftjoin_df[['구분','종류','임대농기계2','No']].groupby(['구분','종류','임대농기계2'], as_index = False).count()
g

          구분     종류      임대농기계2   No
0    경운기및작업기  보행경운기    동력경운기(경)  157
1    경운기및작업기  보행경운기   북동력경운기(경)  213
2    경운기및작업기  보행경운기   서동력경운기(경)  277
3    경운기및작업기  비료살포기    석회살포기(경)   11
4    경운기및작업기    수확기  땅속작물수확기(경)  217
..       ...    ...         ...  ...
168  트랙터및작업기  휴립복토기    휴립복토기(트)    1
169  트랙터및작업기  휴립복토기  휴립복토기(트)두둑   12
170  트랙터및작업기  휴립피복기   북휴립피복기(트)   21
171  트랙터및작업기  휴립피복기   서휴립피복기(트)    5
172  트랙터및작업기  휴립피복기    휴립피복기(트)    4

[173 rows x 4 columns]

### g[g['임대농기계2'].str.contains('땅속작물수확기')]

In [11]:
sibal = leftjoin_df[['구분','종류','기종2','No']].groupby(['구분','종류','기종2'], as_index = False).count()
sibal

          구분     종류         기종2   No
0    경운기및작업기  보행경운기    동력경운기(경)  157
1    경운기및작업기  보행경운기   북동력경운기(경)  213
2    경운기및작업기  보행경운기   서동력경운기(경)  277
3    경운기및작업기  비료살포기    석회살포기(경)   11
4    경운기및작업기    수확기  땅속작물수확기(경)  217
..       ...    ...         ...  ...
168  트랙터및작업기  휴립복토기    휴립복토기(트)    1
169  트랙터및작업기  휴립복토기  휴립복토기(트)두둑   12
170  트랙터및작업기  휴립피복기   북휴립피복기(트)   21
171  트랙터및작업기  휴립피복기   서휴립피복기(트)    5
172  트랙터및작업기  휴립피복기    휴립피복기(트)    4

[173 rows x 4 columns]

In [12]:
sibal[sibal['기종2'].str.contains('농용돌파쇄기')]

Empty DataFrame
Columns: [구분, 종류, 기종2, No]
Index: []

In [13]:
leftjoin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21347 entries, 0 to 21346
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   No      21347 non-null  int64
 1   임대사업장   21347 non-null  object
 2   임대기간    21347 non-null  object
 3   임대일수    21347 non-null  int64
 4   주소      21338 non-null  object
 5   성별      21247 non-null  object
 6   나이      21347 non-null  int64
 7   임대농기계   21347 non-null  object
 8   임대료(원)  21347 non-null  int64
 9   배송방법    21347 non-null  object
 10  계       21347 non-null  object
 11  임대농기계2  21347 non-null  object
 12  구분      20849 non-null  object
 13  종류      20849 non-null  object
 14  기종      20849 non-null  object
 15  기종2     20849 non-null  object
dtypes: int64(4), object(12)
memory usage: 2.6+ MB

In [14]:
leftjoin_df2 = leftjoin_df[['임대사업장','임대기간','주소','임대농기계2','구분','종류','기종2']]
leftjoin_df2
#임대농기계에는 결측치가 없으나
#기종2에는 결측치가 있다.

,임대사업장,임대기간,주소,임대농기계2,구분,종류,기종2
0,서부분소,2018-04-20∼2018-04-21,경상북도 안동시 풍산읍,서플라우(트),트랙터및작업기,플라우,서플라우(트)
1,서부분소,2018-04-03∼2018-04-03,경상북도 안동시 풍산읍,서비료살포기(트)(PTO방식),트랙터및작업기,비료살포기,서비료살포기(트)(PTO방식)
2,북부분소,2018-08-22∼2018-08-26,경상북도 안동시 중구동,북인력파종기,자주형파종기,파종기,북인력파종기
3,북부분소,2018-03-30∼2018-03-30,경상북도 안동시 녹전면,북심경로타리(트),트랙터및작업기,심경로타리,북심경로타리(트)
4,서부분소,2018-01-02∼2018-01-02,경상북도 안동시 풍천면,서콩정선기,탈곡기및정선기,콩정선기,서콩정선기
...,...,...,...,...,...,...,...
21342,농업기술센터,2021-01-01∼2021-01-02,경상북도 안동시 임하면,SS기퇴비살포기(자),기타임대농기계,퇴비살포기,SS기퇴비살포기(자)
21343,농업기술센터,2020-12-31∼2020-12-31,경상북도 안동시 송하동,콩정선기,탈곡기및정선기,콩정선기,콩정선기
21344,서부분소,2021-01-01∼2021-01-02,경상북도 안동시 풍천면,서땅속작물수확기(트),트랙터및작업기,수확기,서땅속작물수확기(트)
21345,북부분소,2020-12-31∼2020-12-31,경상북도 안동시 도산면,북콩정선기,탈곡기및정선기,콩정선기,북콩정선기
21346,서부분소,2020-12-31∼2020-12-31,경상북도 안동시 풍산읍,서콩정선기,탈곡기및정선기,콩정선기,서콩정선기

In [15]:
leftjoin_df2[leftjoin_df2['기종2'].isna()]['임대농기계2'].value_counts()
#임대내역에는 있지만 현재 보유내역에는 없는 농기계

콩탈곡기(모)          164
로터베이터            122
관리기              103
땅속작물수확기(경)(레)     56
SS기(운)            25
보통형콤바인            15
콩탈곡기(경)            4
농용돌파쇄기(트)          4
심경로타리(역회전)         4
콩수확기               1
Name: 임대농기계2, dtype: int64

In [16]:
print(leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('콩탈곡기')]['종류'].value_counts(), '\n' , leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('콩탈곡기')]['구분'].value_counts())

동력탈곡기    797
Name: 종류, dtype: int64
 탈곡기및정선기    797
Name: 구분, dtype: int64

In [17]:
#콩탈곡기(모)와 (경)에 대해서 종류랑 구분만 채우자 : 종류 = 동력탈곡기, 구분 = 탈곡기및 정선기?

* SS기

In [18]:
leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('SS기')]['종류'].value_counts()

퇴비살포기       865
스피드스프레이어    306
농업용동력운반차     10
Name: 종류, dtype: int64

In [19]:
leftjoin_df2[(leftjoin_df2['종류'] == '퇴비살포기') & (leftjoin_df2['임대농기계2'].str.contains('SS기'))]['임대농기계2'].value_counts()

SS기퇴비살포기(자)     431
서SS기퇴비살포기(자)    261
북SS기퇴비살포기(자)    173
Name: 임대농기계2, dtype: int64

In [20]:
leftjoin_df2[(leftjoin_df2['종류'] == '스피드스프레이어') & (leftjoin_df2['임대농기계2'].str.contains('SS기'))]['임대농기계2'].value_counts()

SS기     176
북SS기    130
Name: 임대농기계2, dtype: int64

In [21]:
leftjoin_df2[(leftjoin_df2['종류'] == '농업용동력운반차') & (leftjoin_df2['임대농기계2'].str.contains('SS기'))]['임대농기계2'].value_counts()

SS기운반차(자)    10
Name: 임대농기계2, dtype: int64

* 로터베이터

In [22]:
leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('베이터')]['임대농기계2'].value_counts()

로타베이터(트)     406
북로타베이터(트)    389
서로타베이터(트)    355
로터베이터        122
로타베이터(승)      63
북로타베이터(승)     26
서로타베이터(승)     22
Name: 임대농기계2, dtype: int64

In [23]:
leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('베이터')]['종류'].value_counts()

로타베이터    1150
로타리       111
Name: 종류, dtype: int64

In [24]:
leftjoin_df2[leftjoin_df2['종류'] == '로타베이터']['임대농기계2'].value_counts()

로타베이터(트)     406
북로타베이터(트)    389
서로타베이터(트)    355
Name: 임대농기계2, dtype: int64

In [25]:
leftjoin_df2[leftjoin_df2['종류'] == '로타리']['임대농기계2'].value_counts()

로타베이터(승)     63
북로타베이터(승)    26
서로타베이터(승)    22
Name: 임대농기계2, dtype: int64

* 로터베이터의 임대내역에서 임대기간(월)의 특징
* 로타베이터의 임대기간에서 월 특징
* 로타리의 임대기간에서 월 특징

In [26]:
leftjoin_df2[leftjoin_df2['임대농기계2'] == '로터베이터'] #빌린 내역엔 있는데 보유 내역에 없어서 분류할 수 없는 상태

        임대사업장                   임대기간            주소 임대농기계2   구분   종류  기종2
145    농업기술센터  2018-02-21∼2018-02-21  경상북도 안동시 임하면  로터베이터  NaN  NaN  NaN
332    농업기술센터  2018-03-12∼2018-03-12  경상북도 안동시 평화동  로터베이터  NaN  NaN  NaN
349    농업기술센터  2018-03-14∼2018-03-14  경상북도 안동시 태화동  로터베이터  NaN  NaN  NaN
414    농업기술센터  2018-03-17∼2018-03-17  경상북도 안동시 평화동  로터베이터  NaN  NaN  NaN
498    농업기술센터  2018-03-23∼2018-03-23  경상북도 안동시 임동면  로터베이터  NaN  NaN  NaN
...       ...                    ...           ...    ...  ...  ...  ...
11119  농업기술센터  2019-10-18∼2019-10-18  경상북도 안동시 임동면  로터베이터  NaN  NaN  NaN
11536  농업기술센터  2019-11-08∼2019-11-08  경상북도 안동시 용상동  로터베이터  NaN  NaN  NaN
11601  농업기술센터  2019-11-12∼2019-11-12  경상북도 안동시 임동면  로터베이터  NaN  NaN  NaN
11766  농업기술센터  2019-11-16∼2019-11-16  경상북도 안동시 남선면  로터베이터  NaN  NaN  NaN
17956  농업기술센터  2020-07-08∼2020-07-08  경상북도 안동시 일직면  로터베이터  NaN  NaN  NaN

[122 rows x 7 columns]

In [27]:
leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('로타베이터')]

,임대사업장,임대기간,주소,임대농기계2,구분,종류,기종2
178,서부분소,2018-02-24∼2018-02-24,경상북도 안동시 풍산읍,서로타베이터(트),트랙터및작업기,로타베이터,서로타베이터(트)
202,서부분소,2018-02-27∼2018-02-27,경상북도 안동시 풍산읍,서로타베이터(트),트랙터및작업기,로타베이터,서로타베이터(트)
219,서부분소,2018-02-28∼2018-02-28,경상북도 안동시 풍산읍,서로타베이터(트),트랙터및작업기,로타베이터,서로타베이터(트)
246,농업기술센터,2018-03-03∼2018-03-03,경상북도 안동시 임하면,로타베이터(트),트랙터및작업기,로타베이터,로타베이터(트)
266,북부분소,2018-03-06∼2018-03-06,경상북도 안동시 녹전면,로타베이터(트),트랙터및작업기,로타베이터,로타베이터(트)
...,...,...,...,...,...,...,...
21148,서부분소,2020-12-12∼2020-12-12,경상북도 안동시 옥동,서로타베이터(트),트랙터및작업기,로타베이터,서로타베이터(트)
21151,농업기술센터,2020-12-12∼2020-12-13,경상북도 안동시 길안면,로타베이터(트),트랙터및작업기,로타베이터,로타베이터(트)
21299,북부분소,2020-12-29∼2020-12-29,경상북도 안동시 녹전면,북로타베이터(트),트랙터및작업기,로타베이터,북로타베이터(트)
21319,북부분소,2020-12-29∼2020-12-29,경상북도 안동시 예안면,북로타베이터(트),트랙터및작업기,로타베이터,북로타베이터(트)
21329,서부분소,2020-12-30∼2020-12-30,경상북도 안동시 풍산읍,서로타베이터(트),트랙터및작업기,로타베이터,서로타베이터(트)

# 결측치의 value_counts()

In [28]:
leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('관리기')]['임대농기계2'].value_counts()

서일륜관리기(관)      312
일륜관리기          299
서관리기(관)        252
북일륜관리기(관)      231
북관리기(관)        197
관리기(비닐피복전용)    159
서승용관리기(승)      130
관리기(두둑성형전용)    123
관리기            103
승용관리기(승)        86
북승용관리기(승)       77
관리기(동시피복전용)     55
관리기(로터리전용)      43
서관리기            34
북관리기            25
Name: 임대농기계2, dtype: int64

In [29]:
leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('파쇄기')]['임대농기계2'].value_counts()

잔가지파쇄기(자)         413
북잔가지파쇄기(자)        296
잔가지파쇄기            243
서잔가지파쇄기(자)        162
잔가지파쇄기(트랙터부착식)     27
서잔가지파쇄기(트)         24
북잔가지파쇄기(트)         19
딸기배지파쇄기             6
농용돌파쇄기(트)           4
Name: 임대농기계2, dtype: int64

In [30]:
leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('파쇄기')]['종류'].value_counts()

동력파쇄기     1120
잔가지파쇄기      70
Name: 종류, dtype: int64

In [31]:
leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('땅속작물수확기')]['임대농기계2'].value_counts()

북땅속작물수확기(경)       224
땅속작물수확기(경)        217
서땅속작물수확기(경)       200
서땅속작물수확기(트)       110
북땅속작물수확기(트)        80
땅속작물수확기(트)         64
땅속작물수확기(경)(레)      56
북땅속작물수확기(트)(레)     53
땅속작물수확기(트)(레)      38
땅속작물수확기(트)(레일)     36
서땅속작물수확기(트)(레)     31
Name: 임대농기계2, dtype: int64

In [32]:
leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('땅속작물수확기')]['종류'].value_counts()
#결측치가 아닌 땅속작물수확기에 대해서 종류가 모두 수확기라 결측치들도 모두 수확기로 분류

수확기    1053
Name: 종류, dtype: int64

In [33]:
#leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('보통형콤바인')]['임대농기계2'].value_counts()
leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('농용돌파쇄기')]

       임대사업장                   임대기간            주소     임대농기계2   구분   종류  기종2
477   농업기술센터  2018-03-22∼2018-03-22  경상북도 안동시 서후면  농용돌파쇄기(트)  NaN  NaN  NaN
2468  농업기술센터  2018-06-08∼2018-06-08  경상북도 안동시 길안면  농용돌파쇄기(트)  NaN  NaN  NaN
2561  농업기술센터  2018-06-09∼2018-06-09  경상북도 안동시 길안면  농용돌파쇄기(트)  NaN  NaN  NaN
8218  농업기술센터  2019-05-10∼2019-05-10  경상북도 안동시 풍산읍  농용돌파쇄기(트)  NaN  NaN  NaN

In [34]:
leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('심경로타리')]['임대농기계2'].value_counts()

서심경로타리(트)     159
북심경로타리(트)      62
심경로타리(트)       61
심경로타리(역회전)      4
Name: 임대농기계2, dtype: int64

In [35]:
leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('심경로타리')]['종류'].value_counts()

심경로타리    282
Name: 종류, dtype: int64

In [55]:
leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('심경로타리')]['구분'].value_counts()

트랙터및작업기    282
Name: 구분, dtype: int64

In [36]:
leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('콩수확기')]['임대농기계2'].value_counts()

콩수확기(콩예취기)        137
서콩수확기(자)(콩예취기)     53
북콩수확기(자)(콩예취기)     41
북콩수확기(콩예취기)        38
콩수확기(자)(콩예취기)      34
서콩수확기(콩예취기)        31
콩수확기                1
Name: 임대농기계2, dtype: int64

In [37]:
leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('땅콩박피기')]['임대농기계2'].value_counts()

북(모)땅콩박피기    93
(모)땅콩박피기     55
서(모)땅콩박피기    34
Name: 임대농기계2, dtype: int64

## 결측치 채우기

In [38]:
leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('관리기')]

,임대사업장,임대기간,주소,임대농기계2,구분,종류,기종2
39,농업기술센터,2018-01-16∼2018-01-16,경상북도 안동시 와룡면,관리기(비닐피복전용),관리기및작업기,보행관리기,관리기(비닐피복전용)
86,서부분소,2018-02-06∼2018-02-06,경상북도 안동시 풍산읍,서관리기(관),관리기및작업기,보행관리기,서관리기(관)
104,서부분소,2018-02-09∼2018-02-09,경상북도 안동시 태화동,서관리기(관),관리기및작업기,보행관리기,서관리기(관)
186,농업기술센터,2018-02-24∼2018-02-24,경상북도 안동시 임하면,관리기,NaN,NaN,NaN
208,북부분소,2018-02-27∼2018-02-28,경상북도 안동시 서후면,북일륜관리기(관),관리기및작업기,보행관리기,북일륜관리기(관)
...,...,...,...,...,...,...,...
21071,서부분소,2020-12-10∼2020-12-10,경상북도 안동시 풍천면,서관리기,관리기및작업기,보행관리기,서관리기
21101,북부분소,2020-12-11∼2020-12-11,경상북도 안동시 용상동,북관리기,관리기및작업기,보행관리기,북관리기
21286,서부분소,2020-12-24∼2020-12-24,경상북도 안동시 도산면,서관리기,관리기및작업기,보행관리기,서관리기
21338,농업기술센터,2020-12-31∼2020-12-31,경상북도 안동시 임하면,관리기(로터리전용),관리기및작업기,보행관리기,관리기(로터리전용)
21339,농업기술센터,2020-12-31∼2020-12-31,경상북도 안동시 임하면,관리기(동시피복전용),관리기및작업기,보행관리기,관리기(동시피복전용)

In [39]:
tmp = leftjoin_df2
tmp

,임대사업장,임대기간,주소,임대농기계2,구분,종류,기종2
0,서부분소,2018-04-20∼2018-04-21,경상북도 안동시 풍산읍,서플라우(트),트랙터및작업기,플라우,서플라우(트)
1,서부분소,2018-04-03∼2018-04-03,경상북도 안동시 풍산읍,서비료살포기(트)(PTO방식),트랙터및작업기,비료살포기,서비료살포기(트)(PTO방식)
2,북부분소,2018-08-22∼2018-08-26,경상북도 안동시 중구동,북인력파종기,자주형파종기,파종기,북인력파종기
3,북부분소,2018-03-30∼2018-03-30,경상북도 안동시 녹전면,북심경로타리(트),트랙터및작업기,심경로타리,북심경로타리(트)
4,서부분소,2018-01-02∼2018-01-02,경상북도 안동시 풍천면,서콩정선기,탈곡기및정선기,콩정선기,서콩정선기
...,...,...,...,...,...,...,...
21342,농업기술센터,2021-01-01∼2021-01-02,경상북도 안동시 임하면,SS기퇴비살포기(자),기타임대농기계,퇴비살포기,SS기퇴비살포기(자)
21343,농업기술센터,2020-12-31∼2020-12-31,경상북도 안동시 송하동,콩정선기,탈곡기및정선기,콩정선기,콩정선기
21344,서부분소,2021-01-01∼2021-01-02,경상북도 안동시 풍천면,서땅속작물수확기(트),트랙터및작업기,수확기,서땅속작물수확기(트)
21345,북부분소,2020-12-31∼2020-12-31,경상북도 안동시 도산면,북콩정선기,탈곡기및정선기,콩정선기,북콩정선기
21346,서부분소,2020-12-31∼2020-12-31,경상북도 안동시 풍산읍,서콩정선기,탈곡기및정선기,콩정선기,서콩정선기

In [40]:
print(tmp[tmp['임대농기계2'].str.contains('관리기')]['종류'].isna().sum(), '\n' , tmp[tmp['임대농기계2'].str.contains('관리기')]['구분'].isna().sum())

103
 103

In [41]:
tmp[tmp['임대농기계2'].str.contains('관리기') & tmp['구분'].isna()]

        임대사업장                   임대기간            주소 임대농기계2   구분   종류  기종2
186    농업기술센터  2018-02-24∼2018-02-24  경상북도 안동시 임하면    관리기  NaN  NaN  NaN
247    농업기술센터  2018-03-03∼2018-03-03  경상북도 안동시 임하면    관리기  NaN  NaN  NaN
619    농업기술센터  2018-03-27∼2018-03-27  경상북도 안동시 태화동    관리기  NaN  NaN  NaN
753    농업기술센터  2018-03-30∼2018-03-30  경상북도 안동시 임하면    관리기  NaN  NaN  NaN
813    농업기술센터  2018-03-31∼2018-03-31  경상북도 안동시 중구동    관리기  NaN  NaN  NaN
...       ...                    ...           ...    ...  ...  ...  ...
16921  농업기술센터  2020-06-05∼2020-06-05  경상북도 안동시 북후면    관리기  NaN  NaN  NaN
17369  농업기술센터  2020-06-18∼2020-06-18  경상북도 안동시 임하면    관리기  NaN  NaN  NaN
17448  농업기술센터  2020-06-20∼2020-06-21  경상북도 안동시 용상동    관리기  NaN  NaN  NaN
17869  농업기술센터  2020-07-04∼2020-07-05  경상북도 안동시 일직면    관리기  NaN  NaN  NaN
18524  농업기술센터  2020-08-26∼2020-08-26  경상북도 안동시 강남동    관리기  NaN  NaN  NaN

[103 rows x 7 columns]

In [42]:
#함수로 반복해서 채워봐? for
tmp[tmp['임대농기계2'].str.contains('관리기') & tmp['종류'].isna()].index

Int64Index([  186,   247,   619,   753,   813,  1073,  1120,  1183,  1275,
             1460,
            ...
            16275, 16554, 16634, 16707, 16776, 16921, 17369, 17448, 17869,
            18524],
           dtype='int64', length=103)

In [43]:
#결측치 채우기
for i in tmp[tmp['임대농기계2'].str.contains('관리기') & tmp['종류'].isna()].index:
    tmp.at[i, '종류'] = '관리기'
    tmp.at[i, '구분'] = '보행관리기'

* 임대농기계2 : 땅속작물수확기(경)(레) -> 종류 : 수확기/트랙터 및 작업기?

In [69]:
tmp[tmp['임대농기계2'].str.contains('땅속작물수확기') & tmp['종류'].isna()]['임대농기계2'].index

Int64Index([  530,  2416,  2821,  2822,  2891,  2976,  2989,  3025,  3055,
             3063,  3127,  3206,  3213,  3978,  4305,  4567,  6764,  6938,
             7827,  7945,  8675,  8730,  9001,  9036,  9474,  9507,  9527,
             9626,  9635,  9639,  9738,  9739,  9783,  9810,  9819,  9848,
            11781, 11816, 13301, 13354, 14322, 14527, 14664, 14797, 15061,
            15275, 15413, 15830, 16411, 16458, 16768, 17286, 17408, 17630,
            17793, 18082],
           dtype='int64')

In [70]:
for i in tmp[tmp['임대농기계2'].str.contains('땅속작물수확기') & tmp['종류'].isna()]['임대농기계2'].index :
    tmp.at[i,'종류'] = '수확기'
    tmp.at[i,'구분'] = '트랙터및작업기'

* 심경로타리(역회전) -> 심경로타리 / 트랙터 및 작업기

In [54]:
tmp[tmp['임대농기계2'].str.contains('역회전')].index

Int64Index([897, 1379, 3164, 3280], dtype='int64')

In [56]:
for i in tmp[tmp['임대농기계2'].str.contains('역회전')].index :
    tmp.at[i,'종류'] = '심경로타리'
    tmp.at[i,'구분'] = '트랙터및작업기'

In [58]:
print(tmp[tmp['임대농기계2'].str.contains('역회전')]['종류'].isna().sum())
print(tmp[tmp['임대농기계2'].str.contains('역회전')]['구분'].isna().sum())

0
0

* 콩탈곡기(경) -> / 탈곡및 점성기?
* 콩탈곡기(모) -> 농산물탈피기 / 탈곡기 및 점선기

In [45]:
for i in tmp[tmp['임대농기계2'].str.contains('콩탈곡기') & tmp['종류'].isna()].index :
    tmp.at[i, '종류'] = '동력탈곡기'
    tmp.at[i, '구분'] = '탈곡기및정선기'
    
print(leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('콩탈곡기')]['종류'].value_counts())
print(leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('콩탈곡기')]['구분'].value_counts())

동력탈곡기    965
Name: 종류, dtype: int64
탈곡기및정선기    965
Name: 구분, dtype: int64

In [57]:
print(tmp[tmp['임대농기계2'].str.contains('콩탈곡기')]['종류'].isna().sum())
print(leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('콩탈곡기')]['구분'].isna().sum())

0
0

In [71]:
tmp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21347 entries, 0 to 21346
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   임대사업장   21347 non-null  object
 1   임대기간    21347 non-null  object
 2   주소      21338 non-null  object
 3   임대농기계2  21347 non-null  object
 4   구분      21180 non-null  object
 5   종류      21180 non-null  object
 6   기종2     20849 non-null  object
dtypes: object(7)
memory usage: 1.1+ MB

In [77]:
#tmp d.f.에 했는데, leftjoin_df2 에 반영되는지?