In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
leftjoin_df = pd.read_csv('D:/python/bigdataproject/농기계 임대 기준 left join.csv')
leftjoin_df.head(1)

,No,임대사업장,임대기간,임대일수,주소,성별,나이,임대농기계,임대료(원),배송방법,계,임대농기계2,구분,종류,기종,기종2
0,1,서부분소,2018-04-20∼2018-04-21,2,경상북도 안동시 풍산읍,남자,51,서-플라우(트)16-6,20000,자가배송\n(0),"20,000",서플라우(트),트랙터및작업기,플라우,서-플라우(트)16-6,서플라우(트)

In [3]:
leftjoin_df[leftjoin_df['기종2'].isna()]['임대농기계2'].unique()
#기종2가 채워지지 않은 임대농기계2 알기 위해서45

array(['콩수확기', '로터베이터', '관리기', '콩탈곡기(모)', '농용돌파쇄기(트)', '땅속작물수확기(경)(레)',
       '심경로타리(역회전)', '보통형콤바인', 'SS기(운)', '콩탈곡기(경)'], dtype=object)

### 2018~2020 합친거
안동시 농기계 보유 목록

In [4]:
df2018 = pd.read_excel('D:/python/bigdataproject/안동시 농기계 임대차 관리대장(2018년)_비식별화.xlsx')
df2019 = pd.read_excel('D:/python/bigdataproject/안동시 농기계 임대차 관리대장(2019년)_비식별화.xlsx')
df2020 = pd.read_excel('D:/python/bigdataproject/안동시 농기계 임대차 관리대장(2020년)_비식별화.xlsx')

In [5]:
df2018.rename(columns = {'구분':'주소'}, inplace = True)

In [6]:
dfyear = pd.concat([df2018, df2019, df2020], axis = 0)
dfyear.head(1)

,No,임대사업장,임대기간,임대일수,주소,성별,나이,임대농기계,임대료(원),배송방법,계
0,1,서부분소,2018-04-20∼2018-04-21,2,경상북도 안동시 풍산읍,남자,51,서-플라우(트)16-6,20000,자가배송\n(0),"20,000"

In [7]:
nonggigae = pd.read_csv('D:/python/bigdataproject/nonggigae.csv', encoding = 'euc-kr')
nonggigae.head(1)
# 농기계 상세정보

,Unnamed: 0,연번,구분,종류,임대농기계,Unnamed: 5,제조업체,규격,제조(기대번호),형식,대수,구입금액,Unnamed: 12,구입일자,비고
0,3,1,탈곡기및정선기,곡물정선기,풍구 14-1,NaN,경안농기계,모터용,14-1226,KA330,1,400000,NaN,2014-12-26,NaN

In [8]:
# nonggigae[['구분','종류','임대농기계','연번']].groupby(['구분','종류','임대농기계'],as_index = True).count()

In [9]:
leftjoin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21347 entries, 0 to 21346
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   No      21347 non-null  int64
 1   임대사업장   21347 non-null  object
 2   임대기간    21347 non-null  object
 3   임대일수    21347 non-null  int64
 4   주소      21338 non-null  object
 5   성별      21247 non-null  object
 6   나이      21347 non-null  int64
 7   임대농기계   21347 non-null  object
 8   임대료(원)  21347 non-null  int64
 9   배송방법    21347 non-null  object
 10  계       21347 non-null  object
 11  임대농기계2  21347 non-null  object
 12  구분      20849 non-null  object
 13  종류      20849 non-null  object
 14  기종      20849 non-null  object
 15  기종2     20849 non-null  object
dtypes: int64(4), object(12)
memory usage: 2.6+ MB

In [10]:
leftjoin_df2 = leftjoin_df[['임대사업장','임대기간','주소','임대농기계2','구분','종류','기종2']]
leftjoin_df2.head(1)
#임대농기계에는 결측치가 없으나
#기종2에는 결측치가 있다.

  임대사업장                   임대기간            주소   임대농기계2       구분   종류      기종2
0  서부분소  2018-04-20∼2018-04-21  경상북도 안동시 풍산읍  서플라우(트)  트랙터및작업기  플라우  서플라우(트)

In [11]:
leftjoin_df2[leftjoin_df2['기종2'].isna()]['임대농기계2'].value_counts()
#임대내역에는 있지만 현재 보유내역에는 없는 농기계

콩탈곡기(모)          164
로터베이터            122
관리기              103
땅속작물수확기(경)(레)     56
SS기(운)            25
보통형콤바인            15
콩탈곡기(경)            4
농용돌파쇄기(트)          4
심경로타리(역회전)         4
콩수확기               1
Name: 임대농기계2, dtype: int64

In [12]:
print(leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('콩탈곡기')]['종류'].value_counts(), '\n' , leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('콩탈곡기')]['구분'].value_counts())

동력탈곡기    797
Name: 종류, dtype: int64
 탈곡기및정선기    797
Name: 구분, dtype: int64

#### 결측치에 대해서 fillna로 한 후에, pd crosstab에 남기기 - 후에 할 일

In [13]:
# a = leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('SS기')][['임대농기계2','종류','구분']]
# pd.crosstab(a['임대농기계2'], a['종류'])

# 결측치의 value_counts()

## 결측치 채우기

In [14]:
leftjoin_df2[leftjoin_df2['임대농기계2'].str.contains('관리기')]

,임대사업장,임대기간,주소,임대농기계2,구분,종류,기종2
39,농업기술센터,2018-01-16∼2018-01-16,경상북도 안동시 와룡면,관리기(비닐피복전용),관리기및작업기,보행관리기,관리기(비닐피복전용)
86,서부분소,2018-02-06∼2018-02-06,경상북도 안동시 풍산읍,서관리기(관),관리기및작업기,보행관리기,서관리기(관)
104,서부분소,2018-02-09∼2018-02-09,경상북도 안동시 태화동,서관리기(관),관리기및작업기,보행관리기,서관리기(관)
186,농업기술센터,2018-02-24∼2018-02-24,경상북도 안동시 임하면,관리기,NaN,NaN,NaN
208,북부분소,2018-02-27∼2018-02-28,경상북도 안동시 서후면,북일륜관리기(관),관리기및작업기,보행관리기,북일륜관리기(관)
...,...,...,...,...,...,...,...
21071,서부분소,2020-12-10∼2020-12-10,경상북도 안동시 풍천면,서관리기,관리기및작업기,보행관리기,서관리기
21101,북부분소,2020-12-11∼2020-12-11,경상북도 안동시 용상동,북관리기,관리기및작업기,보행관리기,북관리기
21286,서부분소,2020-12-24∼2020-12-24,경상북도 안동시 도산면,서관리기,관리기및작업기,보행관리기,서관리기
21338,농업기술센터,2020-12-31∼2020-12-31,경상북도 안동시 임하면,관리기(로터리전용),관리기및작업기,보행관리기,관리기(로터리전용)
21339,농업기술센터,2020-12-31∼2020-12-31,경상북도 안동시 임하면,관리기(동시피복전용),관리기및작업기,보행관리기,관리기(동시피복전용)

In [15]:
tmp = leftjoin_df2
tmp.head(1)

  임대사업장                   임대기간            주소   임대농기계2       구분   종류      기종2
0  서부분소  2018-04-20∼2018-04-21  경상북도 안동시 풍산읍  서플라우(트)  트랙터및작업기  플라우  서플라우(트)

In [16]:
print(tmp[tmp['임대농기계2'].str.contains('관리기')]['종류'].isna().sum(),
      '\n',
      tmp[tmp['임대농기계2'].str.contains('관리기')]['구분'].isna().sum())

103
 103

# 관리기

In [17]:
tmp[tmp['임대농기계2'] == '관리기'] #나중에 삭제해도 될듯?

        임대사업장                   임대기간            주소 임대농기계2   구분   종류  기종2
186    농업기술센터  2018-02-24∼2018-02-24  경상북도 안동시 임하면    관리기  NaN  NaN  NaN
247    농업기술센터  2018-03-03∼2018-03-03  경상북도 안동시 임하면    관리기  NaN  NaN  NaN
619    농업기술센터  2018-03-27∼2018-03-27  경상북도 안동시 태화동    관리기  NaN  NaN  NaN
753    농업기술센터  2018-03-30∼2018-03-30  경상북도 안동시 임하면    관리기  NaN  NaN  NaN
813    농업기술센터  2018-03-31∼2018-03-31  경상북도 안동시 중구동    관리기  NaN  NaN  NaN
...       ...                    ...           ...    ...  ...  ...  ...
16921  농업기술센터  2020-06-05∼2020-06-05  경상북도 안동시 북후면    관리기  NaN  NaN  NaN
17369  농업기술센터  2020-06-18∼2020-06-18  경상북도 안동시 임하면    관리기  NaN  NaN  NaN
17448  농업기술센터  2020-06-20∼2020-06-21  경상북도 안동시 용상동    관리기  NaN  NaN  NaN
17869  농업기술센터  2020-07-04∼2020-07-05  경상북도 안동시 일직면    관리기  NaN  NaN  NaN
18524  농업기술센터  2020-08-26∼2020-08-26  경상북도 안동시 강남동    관리기  NaN  NaN  NaN

[103 rows x 7 columns]

In [18]:
# tmp[tmp['임대농기계2'].str.contains('관리기') & tmp['종류'].isna()].index 이 문장만 삭제
tmp[tmp['임대농기계2'] == '관리기'].index

Int64Index([  186,   247,   619,   753,   813,  1073,  1120,  1183,  1275,
             1460,
            ...
            16275, 16554, 16634, 16707, 16776, 16921, 17369, 17448, 17869,
            18524],
           dtype='int64', length=103)

In [19]:
for i in tmp[tmp['임대농기계2'] == '관리기'].index:
    tmp.at[i, '종류'] = '보행관리기'
    tmp.at[i, '구분'] = '관리기및작업기'
tmp[tmp['임대농기계2'] == '관리기'][['임대농기계2','구분','종류']].head(1)

    임대농기계2       구분     종류
186    관리기  관리기및작업기  보행관리기

# 임대농기계2 : 땅속작물수확기(경)(레) -> 종류 : 수확기/경운기 및 작업기

In [20]:
tmp[tmp['임대농기계2'].str.contains('땅속작물수확기')][['임대농기계2','구분','종류']].value_counts()

임대농기계2          구분       종류
북땅속작물수확기(경)     경운기및작업기  수확기    224
땅속작물수확기(경)      경운기및작업기  수확기    217
서땅속작물수확기(경)     경운기및작업기  수확기    200
서땅속작물수확기(트)     트랙터및작업기  수확기    110
북땅속작물수확기(트)     트랙터및작업기  수확기     80
땅속작물수확기(트)      트랙터및작업기  수확기     64
북땅속작물수확기(트)(레)  트랙터및작업기  수확기     53
땅속작물수확기(트)(레)   트랙터및작업기  수확기     38
땅속작물수확기(트)(레일)  트랙터및작업기  수확기     36
서땅속작물수확기(트)(레)  트랙터및작업기  수확기     31
dtype: int64

In [21]:
tmp[tmp['임대농기계2'].str.contains('땅속작물수확기')][['임대농기계2']].value_counts()

임대농기계2
북땅속작물수확기(경)       224
땅속작물수확기(경)        217
서땅속작물수확기(경)       200
서땅속작물수확기(트)       110
북땅속작물수확기(트)        80
땅속작물수확기(트)         64
땅속작물수확기(경)(레)      56
북땅속작물수확기(트)(레)     53
땅속작물수확기(트)(레)      38
땅속작물수확기(트)(레일)     36
서땅속작물수확기(트)(레)     31
dtype: int64

In [22]:
tmp[tmp['임대농기계2'] == '땅속작물수확기(경)(레)']['임대농기계2'].index

Int64Index([  530,  2416,  2821,  2822,  2891,  2976,  2989,  3025,  3055,
             3063,  3127,  3206,  3213,  3978,  4305,  4567,  6764,  6938,
             7827,  7945,  8675,  8730,  9001,  9036,  9474,  9507,  9527,
             9626,  9635,  9639,  9738,  9739,  9783,  9810,  9819,  9848,
            11781, 11816, 13301, 13354, 14322, 14527, 14664, 14797, 15061,
            15275, 15413, 15830, 16411, 16458, 16768, 17286, 17408, 17630,
            17793, 18082],
           dtype='int64')

In [23]:
for i in tmp[tmp['임대농기계2'] == '땅속작물수확기(경)(레)']['임대농기계2'].index :
    tmp.at[i,'종류'] = '수확기'
    tmp.at[i,'구분'] = '경운기및작업기'
    
tmp[tmp['임대농기계2'] == '땅속작물수확기(경)(레)'].head(1)

,임대사업장,임대기간,주소,임대농기계2,구분,종류,기종2
530,농업기술센터,2018-03-24∼2018-03-25,경상북도 안동시 풍천면,땅속작물수확기(경)(레),경운기및작업기,수확기,NaN

# 심경로타리(역회전) -> 심경로타리 / 트랙터 및 작업기

In [24]:
tmp[tmp['임대농기계2'].str.contains('역회전')].index

Int64Index([897, 1379, 3164, 3280], dtype='int64')

In [25]:
for i in tmp[tmp['임대농기계2'].str.contains('역회전')].index :
    tmp.at[i,'종류'] = '심경로타리'
    tmp.at[i,'구분'] = '트랙터및작업기'

tmp[tmp['임대농기계2'].str.contains('역회전')].head(1)

,임대사업장,임대기간,주소,임대농기계2,구분,종류,기종2
897,농업기술센터,2018-04-02∼2018-04-02,경상북도 안동시 와룡면,심경로타리(역회전),트랙터및작업기,심경로타리,NaN

# 콩탈곡기(경) / 콩탈곡기(모) -> 동력탈곡기 / 탈곡기및정선기

In [26]:
tmp[tmp['임대농기계2'].str.contains('콩탈곡기')][['임대농기계2','구분','종류']].value_counts()

임대농기계2     구분       종류
콩탈곡기(트)    탈곡기및정선기  동력탈곡기    195
북콩탈곡기(트)   탈곡기및정선기  동력탈곡기    119
콩탈곡기(자주형)  탈곡기및정선기  동력탈곡기    119
서콩탈곡기(트)   탈곡기및정선기  동력탈곡기     98
콩탈곡기(엔)    탈곡기및정선기  동력탈곡기     94
북콩탈곡기(엔)   탈곡기및정선기  동력탈곡기     93
서콩탈곡기(엔)   탈곡기및정선기  동력탈곡기     72
땅콩탈곡기(트)   탈곡기및정선기  동력탈곡기      7
dtype: int64

In [27]:
# tmp[tmp['임대농기계2'].str.contains('콩탈곡기') & tmp['종류'].isna()]['임대농기계2'].unique() 삭제 가능

In [28]:
for i in tmp[tmp['임대농기계2'].str.contains('콩탈곡기') & tmp['종류'].isna()].index :
    tmp.at[i, '종류'] = '동력탈곡기'
    tmp.at[i, '구분'] = '탈곡기및정선기'
    
print(tmp[tmp['임대농기계2'].str.contains('콩탈곡기')]['종류'].value_counts())
print(tmp[tmp['임대농기계2'].str.contains('콩탈곡기')]['구분'].value_counts())

동력탈곡기    965
Name: 종류, dtype: int64
탈곡기및정선기    965
Name: 구분, dtype: int64

# 땅콩박피기를 언제 채운거지?

In [29]:
tmp[tmp['임대농기계2'].str.contains('땅콩박피기')]

,임대사업장,임대기간,주소,임대농기계2,구분,종류,기종2
17,서부분소,2018-01-04∼2018-01-04,경상북도 안동시 풍산읍,서(모)땅콩박피기,탈곡기및정선기,농산물탈피기,서(모)땅콩박피기
32,서부분소,2018-01-14∼2018-01-14,경상북도 안동시 풍산읍,서(모)땅콩박피기,탈곡기및정선기,농산물탈피기,서(모)땅콩박피기
38,북부분소,2018-01-16∼2018-01-16,경상북도 안동시 와룡면,북(모)땅콩박피기,탈곡기및정선기,농산물탈피기,북(모)땅콩박피기
3798,농업기술센터,2018-09-19∼2018-09-19,경상북도 안동시 임하면,(모)땅콩박피기,탈곡기및정선기,농산물탈피기,(모)땅콩박피기
3917,서부분소,2018-10-03∼2018-10-03,경상북도 안동시 풍산읍,서(모)땅콩박피기,탈곡기및정선기,농산물탈피기,서(모)땅콩박피기
...,...,...,...,...,...,...,...
20803,서부분소,2020-12-02∼2020-12-02,경상북도 안동시 풍산읍,서(모)땅콩박피기,탈곡기및정선기,농산물탈피기,서(모)땅콩박피기
21016,농업기술센터,2020-12-09∼2020-12-09,경상북도 안동시 길안면,(모)땅콩박피기,탈곡기및정선기,농산물탈피기,(모)땅콩박피기
21066,서부분소,2020-12-10∼2020-12-10,경상북도 안동시 풍산읍,서(모)땅콩박피기,탈곡기및정선기,농산물탈피기,서(모)땅콩박피기
21216,서부분소,2020-12-18∼2020-12-18,경상북도 안동시 풍산읍,서(모)땅콩박피기,탈곡기및정선기,농산물탈피기,서(모)땅콩박피기
21274,북부분소,2020-12-23∼2020-12-23,경상북도 안동시 와룡면,북(모)땅콩박피기,탈곡기및정선기,농산물탈피기,북(모)땅콩박피기

# SS기(운)

In [30]:
tmp[tmp['임대농기계2'].str.contains('SS기')][['임대농기계2','구분','종류']].value_counts()

임대농기계2        구분       종류
SS기퇴비살포기(자)   기타임대농기계  퇴비살포기       431
서SS기퇴비살포기(자)  기타임대농기계  퇴비살포기       261
SS기           기타임대농기계  스피드스프레이어    176
북SS기퇴비살포기(자)  기타임대농기계  퇴비살포기       173
북SS기          기타임대농기계  스피드스프레이어    130
SS기운반차(자)     기타임대농기계  농업용동력운반차     10
dtype: int64

In [31]:
# a = pd.crosstab 남기고 싶어서. 그 전에 fillna(0, inplace = True) 해야하는데, 미리 해둬도 될 것 같은데?

In [32]:
tmp[tmp['임대농기계2'] == 'SS기(운)'].index

for i in tmp[tmp['임대농기계2'] == 'SS기(운)'].index:
    tmp.at[i, '종류'] = '농업용동력운반차'
    tmp.at[i, '구분'] = '기타임대농기계'

tmp[tmp['임대농기계2'] == 'SS기(운)'].head(1)

,임대사업장,임대기간,주소,임대농기계2,구분,종류,기종2
4098,농업기술센터,2018-10-16∼2018-10-17,경상북도 안동시 길안면,SS기(운),기타임대농기계,농업용동력운반차,NaN

# 콩수확기

In [33]:
tmp[tmp['임대농기계2'].str.contains('콩수확기')][['임대농기계2','구분','종류']].value_counts()

임대농기계2          구분       종류
콩수확기(콩예취기)      기타임대농기계  콩예취기    137
서콩수확기(자)(콩예취기)  기타임대농기계  콩예취기     53
북콩수확기(자)(콩예취기)  기타임대농기계  콩예취기     41
북콩수확기(콩예취기)     기타임대농기계  콩예취기     38
콩수확기(자)(콩예취기)   기타임대농기계  콩예취기     34
서콩수확기(콩예취기)     기타임대농기계  콩예취기     31
dtype: int64

In [34]:
for i in tmp[tmp['임대농기계2'] == '콩수확기'].index :
    tmp.at[i, '종류'] = '콩예취기'
    tmp.at[i, '구분'] = '기타임대농기계'

tmp[tmp['임대농기계2'] == '콩수확기'].head(1)

     임대사업장                   임대기간            주소 임대농기계2       구분    종류  기종2
21  농업기술센터  2018-01-06∼2018-01-07  경상북도 안동시 예안면   콩수확기  기타임대농기계  콩예취기  NaN

# 보통형콤바인

In [35]:
for i in tmp[tmp['임대농기계2'] == '보통형콤바인'].index :
    tmp.at[i, '종류'] = '수확기'
    tmp.at[i, '구분'] = '트랙터및작업기'

tmp[tmp['임대농기계2'] == '보통형콤바인'].head(1)

       임대사업장                   임대기간            주소  임대농기계2       구분   종류  기종2
2701  농업기술센터  2018-06-19∼2018-06-19  경상북도 안동시 풍천면  보통형콤바인  트랙터및작업기  수확기  NaN

# 로타베이터/로터베이터

In [40]:
tmp[tmp['임대농기계2'].str.contains('베이터')][['임대농기계2','구분','종류']].value_counts()

임대농기계2     구분       종류
로타베이터(트)   트랙터및작업기  로타베이터    406
북로타베이터(트)  트랙터및작업기  로타베이터    389
서로타베이터(트)  트랙터및작업기  로타베이터    355
로타베이터(승)   기타임대농기계  로타리       63
북로타베이터(승)  기타임대농기계  로타리       26
서로타베이터(승)  기타임대농기계  로타리       22
dtype: int64

In [43]:
tmp[tmp['임대농기계2'] == '로터베이터'].index

Int64Index([  145,   332,   349,   414,   498,   582,   687,   840,   973,
             1226,
            ...
            10396, 10685, 10728, 10755, 10988, 11119, 11536, 11601, 11766,
            17956],
           dtype='int64', length=122)

In [44]:
for i in tmp[tmp['임대농기계2'] == '로터베이터'].index :
#     tmp.at[i, '임대농기계2'] == '로타베이터(트)'
    tmp.at[i, '종류'] = '로타베이터'
    tmp.at[i, '구분'] = '트랙터및작업기'

tmp[tmp['임대농기계2'] == '로터베이터'].head(1)

        임대사업장                   임대기간            주소 임대농기계2       구분     종류  기종2
145    농업기술센터  2018-02-21∼2018-02-21  경상북도 안동시 임하면  로터베이터  트랙터및작업기  로타베이터  NaN
332    농업기술센터  2018-03-12∼2018-03-12  경상북도 안동시 평화동  로터베이터  트랙터및작업기  로타베이터  NaN
349    농업기술센터  2018-03-14∼2018-03-14  경상북도 안동시 태화동  로터베이터  트랙터및작업기  로타베이터  NaN
414    농업기술센터  2018-03-17∼2018-03-17  경상북도 안동시 평화동  로터베이터  트랙터및작업기  로타베이터  NaN
498    농업기술센터  2018-03-23∼2018-03-23  경상북도 안동시 임동면  로터베이터  트랙터및작업기  로타베이터  NaN
...       ...                    ...           ...    ...      ...    ...  ...
11119  농업기술센터  2019-10-18∼2019-10-18  경상북도 안동시 임동면  로터베이터  트랙터및작업기  로타베이터  NaN
11536  농업기술센터  2019-11-08∼2019-11-08  경상북도 안동시 용상동  로터베이터  트랙터및작업기  로타베이터  NaN
11601  농업기술센터  2019-11-12∼2019-11-12  경상북도 안동시 임동면  로터베이터  트랙터및작업기  로타베이터  NaN
11766  농업기술센터  2019-11-16∼2019-11-16  경상북도 안동시 남선면  로터베이터  트랙터및작업기  로타베이터  NaN
17956  농업기술센터  2020-07-08∼2020-07-08  경상북도 안동시 일직면  로터베이터  트랙터및작업기  로타베이터  NaN

[122 rows x 7 columns]

In [47]:
tmp[tmp['구분'].isna()].index

Int64Index([477, 2468, 2561, 8218], dtype='int64')

In [51]:
tmp.shape

(21347, 7)

In [52]:
tmp.drop(index = tmp[tmp['구분'].isna()].index, axis = 0, inplace = True)

C:\Users\user\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [53]:
tmp.shape

(21343, 7)

In [57]:
tmp.head()

,임대사업장,임대기간,주소,임대농기계2,구분,종류,기종2
0,서부분소,2018-04-20∼2018-04-21,경상북도 안동시 풍산읍,서플라우(트),트랙터및작업기,플라우,서플라우(트)
1,서부분소,2018-04-03∼2018-04-03,경상북도 안동시 풍산읍,서비료살포기(트)(PTO방식),트랙터및작업기,비료살포기,서비료살포기(트)(PTO방식)
2,북부분소,2018-08-22∼2018-08-26,경상북도 안동시 중구동,북인력파종기,자주형파종기,파종기,북인력파종기
3,북부분소,2018-03-30∼2018-03-30,경상북도 안동시 녹전면,북심경로타리(트),트랙터및작업기,심경로타리,북심경로타리(트)
4,서부분소,2018-01-02∼2018-01-02,경상북도 안동시 풍천면,서콩정선기,탈곡기및정선기,콩정선기,서콩정선기

In [56]:
tmp.to_csv('D:\\python\\bigdataproject\\data.csv', encoding = 'euc-kr')