In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime
from datetime import timedelta

In [ ]:
data=pd.read_csv('C:/Users/user/Desktop/안동/농기계 임대 기준 left join(2021).csv',encoding='utf-8')
data

In [ ]:
wether=pd.read_csv('C:/Users/user/Desktop/안동/wether_2021.csv',encoding='euc-kr')
wether=wether.drop('Unnamed: 0',axis=1)
wether

# 기간을 date로 바꾸기

In [ ]:
data['기간'] = data['기간'].astype('str')
data_split = data['기간'].str.split('∼')
data_split

In [ ]:
data['임대시작기간']= data_split.str.get(0)
data['임대반납기간'] = data_split.str.get(1)
data['임대시작기간'] = pd.to_datetime(data['임대시작기간'])
data['임대반납기간'] = pd.to_datetime(data['임대반납기간'])
data

In [ ]:
data_S=data[['임대시작기간','임대반납기간']]
data_S

In [ ]:
list=[]
for i in range(10178):
    dt=pd.date_range(data_S.iloc[i,0],data_S.iloc[i,1],freq='1D')
    list.append(dt)
print(list)

In [ ]:
df=pd.DataFrame(list) 
df.replace({np.nan: 0}, inplace = True)
df

In [ ]:
kk=pd.DataFrame()
for i in range(31):
    frame=pd.DataFrame()
    frame=pd.concat([data,df[i]],axis=1)
    frame=frame.rename(columns={i:'date'})
    kk=pd.concat([kk,frame],axis=0)
kk

In [ ]:
kk1 = kk[kk['date']!=0]
kk1

In [ ]:
kk2=kk1.sort_values(by=['no','date'])

In [ ]:
kk2

In [ ]:
non_2021=kk2[['임대사업장','종류','date']]
non_2021

In [ ]:
non_2021['date']=non_2021['date'].astype(str)

In [ ]:
non_2021['date']=non_2021['date'].str.split().str[0]

In [ ]:
non_2021['date'].value_counts().sort_values()

In [ ]:
non_2021=non_2021[non_2021['date']!='2021-12-21']
non_2021=non_2021[non_2021['date']!='2021-12-22']
non_2021=non_2021[non_2021['date']!='2021-12-23']
df=non_2021

In [ ]:
wes=df[df['임대사업장']=='서부분소']
nor=df[df['임대사업장']=='북부분소']
cen=df[df['임대사업장']=='농업기술센터']

# 일별 대여건수

## 서부분소

In [ ]:
westdata = pd.DataFrame({'건수' : wes.groupby(['종류','date'])[['종류','date']].size()}).reset_index()
westdata = westdata.pivot(index = '종류', columns = 'date', values = '건수')
westdata.fillna(0, inplace = True)
westdata

In [ ]:
westdata=westdata.T
westdata

In [ ]:
dt_index = pd.date_range(start='20210101', end='20211220')
dt_list = dt_index.strftime("%Y-%m-%d").tolist()
df_date = pd.DataFrame( {'date' : dt_list})

In [ ]:
west1 = pd.merge(westdata, df_date, how = 'outer', on = 'date').sort_values('date').set_index('date')
west1

In [ ]:
west1.fillna(0, inplace = True)

In [ ]:
west1=west1.T

In [ ]:
west1=west1.reset_index()

In [ ]:
west1

In [ ]:
jongryu_1=west1['index'].values.tolist()
jongryu_1

In [ ]:
west1=west1.set_index('index')
west1

In [ ]:
nnn=[]
nnn1=pd.DataFrame()
for i in range(len(jongryu_1)):
    nnn2=[]
    nnn=west1.iloc[[i]].transpose().reset_index()
    nnn=nnn.rename(columns={jongryu_1[i]:'건수'})
    nnn['종류']=jongryu_1[i]
    nnn2=nnn[['date','종류','건수']]
    nnn1=pd.concat([nnn1,nnn2])
nnn1

In [ ]:
west_21 = pd.merge(nnn1, wether, how = 'inner', on = 'date').sort_values('date').set_index('date')
west_21

In [ ]:
pd.options.display.float_format = '{:.2f}'.format

In [ ]:
west_21

In [ ]:
# west_21.to_csv('C:/Users/user/Desktop/안동/west21.csv',encoding='euc-kr')

## 북부분소

In [ ]:
nordata = pd.DataFrame({'건수' : nor.groupby(['종류','date'])[['종류','date']].size()}).reset_index()
nordata = nordata.pivot(index = '종류', columns = 'date', values = '건수')
nordata.fillna(0, inplace = True)
nordata

In [ ]:
nordata=nordata.T
nordata

In [ ]:
dt_index = pd.date_range(start='20210101', end='20211220')
dt_list = dt_index.strftime("%Y-%m-%d").tolist()
df_date = pd.DataFrame( {'date' : dt_list})

In [ ]:
nor1 = pd.merge(nordata, df_date, how = 'outer', on = 'date').sort_values('date').set_index('date')
nor1

In [ ]:
nor1.fillna(0, inplace = True)
nor1=nor1.T
nor1

In [ ]:
nor1=nor1.reset_index()
nor1

In [ ]:
jongryu_2=nor1['index'].values.tolist()
jongryu_2

In [ ]:
nor1=nor1.set_index('index')
nor1

In [ ]:
nnn=[]
nnn1=pd.DataFrame()
for i in range(len(jongryu_2)):
    nnn2=[]
    nnn=nor1.iloc[[i]].transpose().reset_index()
    nnn=nnn.rename(columns={jongryu_2[i]:'건수'})
    nnn['종류']=jongryu_2[i]
    nnn2=nnn[['date','종류','건수']]
    nnn1=pd.concat([nnn1,nnn2])
nnn1

In [ ]:
nor_21 = pd.merge(nnn1, wether, how = 'inner', on = 'date').sort_values('date').set_index('date')
nor_21

In [ ]:
# nor_21.to_csv('C:/Users/user/Desktop/안동/nor21.csv',encoding='euc-kr')

## 농업기술센터

In [ ]:
cendata = pd.DataFrame({'건수' : cen.groupby(['종류','date'])[['종류','date']].size()}).reset_index()
cendata = cendata.pivot(index = '종류', columns = 'date', values = '건수')
cendata.fillna(0, inplace = True)
cendata

In [ ]:
cendata=cendata.T
cendata

In [ ]:
dt_index = pd.date_range(start='20210101', end='20211220')
dt_list = dt_index.strftime("%Y-%m-%d").tolist()
df_date = pd.DataFrame( {'date' : dt_list})

In [ ]:
cen1 = pd.merge(cendata, df_date, how = 'outer', on = 'date').sort_values('date').set_index('date')
cen1

In [ ]:
cen1.fillna(0, inplace = True)
cen1=cen1.T
cen1

In [ ]:
cen1=cen1.reset_index()
cen1

In [ ]:
jongryu_3=cen1['index'].values.tolist()
jongryu_3

In [ ]:
cen1=cen1.set_index('index')
cen1

In [ ]:
nnn=[]
nnn1=pd.DataFrame()
for i in range(len(jongryu_3)):
    nnn2=[]
    nnn=cen1.iloc[[i]].transpose().reset_index()
    nnn=nnn.rename(columns={jongryu_3[i]:'건수'})
    nnn['종류']=jongryu_3[i]
    nnn2=nnn[['date','종류','건수']]
    nnn1=pd.concat([nnn1,nnn2])
nnn1

In [ ]:
cen_21 = pd.merge(nnn1, wether, how = 'inner', on = 'date').sort_values('date').set_index('date')
cen_21

In [ ]:
# cen_21.to_csv('C:/Users/user/Desktop/안동/cen21.csv',encoding='euc-kr')