In [67]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [68]:
file1 = pd.read_csv('C:/Users/user/Desktop/NIA/project1/data/preprocessing/일별 임대 내역.csv', parse_dates=["date"], encoding = 'euc-kr')
file1 = file1.drop(columns = 'Unnamed: 0')
file1 = file1.drop(columns = 'Unnamed: 0.1')
file1 = file1.drop(columns = '임대기간')
file1

,임대사업장,주소,임대농기계2,구분,종류,기종2,임대시작기간,임대반납기간,date
0,서부분소,경상북도 안동시 풍산읍,서플라우(트),트랙터및작업기,플라우,서플라우(트),2018-04-20,2018-04-21,2018-04-20
1,서부분소,경상북도 안동시 풍산읍,서플라우(트),트랙터및작업기,플라우,서플라우(트),2018-04-20,2018-04-21,2018-04-21
2,서부분소,경상북도 안동시 풍산읍,서비료살포기(트)(PTO방식),트랙터및작업기,비료살포기,서비료살포기(트)(PTO방식),2018-04-03,2018-04-03,2018-04-03
3,북부분소,경상북도 안동시 중구동,북인력파종기,자주형파종기,파종기,북인력파종기,2018-08-22,2018-08-26,2018-08-22
4,북부분소,경상북도 안동시 중구동,북인력파종기,자주형파종기,파종기,북인력파종기,2018-08-22,2018-08-26,2018-08-23
...,...,...,...,...,...,...,...,...,...
27535,농업기술센터,경상북도 안동시 송하동,콩정선기,탈곡기및정선기,콩정선기,콩정선기,2020-12-31,2020-12-31,2020-12-31
27536,서부분소,경상북도 안동시 풍천면,서땅속작물수확기(트),트랙터및작업기,수확기,서땅속작물수확기(트),2021-01-01,2021-01-02,2021-01-01
27537,서부분소,경상북도 안동시 풍천면,서땅속작물수확기(트),트랙터및작업기,수확기,서땅속작물수확기(트),2021-01-01,2021-01-02,2021-01-02
27538,북부분소,경상북도 안동시 도산면,북콩정선기,탈곡기및정선기,콩정선기,북콩정선기,2020-12-31,2020-12-31,2020-12-31
27539,서부분소,경상북도 안동시 풍산읍,서콩정선기,탈곡기및정선기,콩정선기,서콩정선기,2020-12-31,2020-12-31,2020-12-31

In [69]:
file2 = pd.read_csv('C:/Users/user/Desktop/NIA/project1/data/original/날씨/날씨2018.csv', parse_dates=["일시"], encoding = 'euc-kr')
file2 = file2[['일시','평균기온(°C)', '일강수량(mm)', '평균 풍속(m/s)', '평균 상대습도(%)', '합계 일사량(MJ/m2)']]
file2 = file2.fillna(0)
file2

            일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)  평균 상대습도(%)  합계 일사량(MJ/m2)
0   2018-01-01      -1.0       0.0         2.2        39.4          10.83
1   2018-01-02      -0.5       0.0         2.0        54.0           7.92
2   2018-01-03      -2.1       0.0         1.9        36.9          11.01
3   2018-01-04      -2.5       0.0         0.7        46.8           9.85
4   2018-01-05      -0.6       0.0         1.8        47.4           9.81
..         ...       ...       ...         ...         ...            ...
360 2018-12-27      -5.5       0.0         3.9        23.0          11.88
361 2018-12-28      -7.9       0.0         3.0        33.1          12.13
362 2018-12-29      -6.2       0.0         3.1        32.4          12.07
363 2018-12-30      -5.6       0.0         1.2        43.9          11.97
364 2018-12-31      -5.3       0.0         0.7        50.1          12.64

[365 rows x 6 columns]

In [70]:
file3 = pd.read_csv('C:/Users/user/Desktop/NIA/project1/data/original/날씨/날씨2019.csv', parse_dates=["일시"], encoding = 'euc-kr')
file3 = file3[['일시','평균기온(°C)', '일강수량(mm)', '평균 풍속(m/s)', '평균 상대습도(%)', '합계 일사량(MJ/m2)']]
file3 = file3.fillna(0)
file3

            일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)  평균 상대습도(%)  합계 일사량(MJ/m2)
0   2019-01-01      -4.0       0.0         2.2        56.9           9.89
1   2019-01-02      -3.0       0.0         2.1        43.8          11.89
2   2019-01-03      -2.8       0.0         1.0        39.6          11.81
3   2019-01-04      -2.1       0.0         1.3        49.3           9.47
4   2019-01-05      -1.2       0.0         1.2        50.0          10.95
..         ...       ...       ...         ...         ...            ...
360 2019-12-27      -0.9       0.0         2.4        50.5          10.70
361 2019-12-28      -1.9       0.0         0.4        61.6          10.33
362 2019-12-29      -0.8       6.8         0.2        77.4           3.99
363 2019-12-30       2.9       1.5         1.3        84.6           3.37
364 2019-12-31      -4.9       0.0         4.1        42.5          11.09

[365 rows x 6 columns]

In [71]:
file4 = pd.read_csv('C:/Users/user/Desktop/NIA/project1/data/original/날씨/날씨2020.csv', parse_dates=["일시"], encoding = 'euc-kr')
file4 = file4[['일시','평균기온(°C)', '일강수량(mm)', '평균 풍속(m/s)', '평균 상대습도(%)', '합계 일사량(MJ/m2)']]
file4 = file4.fillna(0)
file4

            일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)  평균 상대습도(%)  합계 일사량(MJ/m2)
0   2020-01-01      -2.6       0.0         2.1        60.0          10.22
1   2020-01-02      -0.3       0.0         1.6        72.4           9.22
2   2020-01-03       1.2       0.0         2.0        59.4           9.85
3   2020-01-04       0.1       0.0         1.3        61.8           9.97
4   2020-01-05      -0.7       0.0         0.4        66.0           9.96
..         ...       ...       ...         ...         ...            ...
361 2020-12-27       0.3       0.0         0.6        82.1           5.00
362 2020-12-28       1.8       0.0         0.5        76.1           0.00
363 2020-12-29       1.3       0.2         1.3        76.1           6.29
364 2020-12-30      -7.8       0.0         4.6        39.1          11.27
365 2020-12-31      -7.9       0.0         3.5        44.8          10.65

[366 rows x 6 columns]

In [72]:
file2.isnull().sum()

일시               0
평균기온(°C)         0
일강수량(mm)         0
평균 풍속(m/s)       0
평균 상대습도(%)       0
합계 일사량(MJ/m2)    0
dtype: int64

In [73]:
weather = pd.concat([file2, file3, file4])
weather

            일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)  평균 상대습도(%)  합계 일사량(MJ/m2)
0   2018-01-01      -1.0       0.0         2.2        39.4          10.83
1   2018-01-02      -0.5       0.0         2.0        54.0           7.92
2   2018-01-03      -2.1       0.0         1.9        36.9          11.01
3   2018-01-04      -2.5       0.0         0.7        46.8           9.85
4   2018-01-05      -0.6       0.0         1.8        47.4           9.81
..         ...       ...       ...         ...         ...            ...
361 2020-12-27       0.3       0.0         0.6        82.1           5.00
362 2020-12-28       1.8       0.0         0.5        76.1           0.00
363 2020-12-29       1.3       0.2         1.3        76.1           6.29
364 2020-12-30      -7.8       0.0         4.6        39.1          11.27
365 2020-12-31      -7.9       0.0         3.5        44.8          10.65

[1096 rows x 6 columns]

In [74]:
merge_df = pd.merge(file1, weather, how = 'left', left_on = 'date', right_on = '일시' )
merge_df

,임대사업장,주소,임대농기계2,구분,종류,기종2,임대시작기간,임대반납기간,date,일시,평균기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),합계 일사량(MJ/m2)
0,서부분소,경상북도 안동시 풍산읍,서플라우(트),트랙터및작업기,플라우,서플라우(트),2018-04-20,2018-04-21,2018-04-20,2018-04-20,19.3,0.0,1.0,43.3,26.69
1,서부분소,경상북도 안동시 풍산읍,서플라우(트),트랙터및작업기,플라우,서플라우(트),2018-04-20,2018-04-21,2018-04-21,2018-04-21,21.3,0.0,1.4,40.0,27.05
2,서부분소,경상북도 안동시 풍산읍,서비료살포기(트)(PTO방식),트랙터및작업기,비료살포기,서비료살포기(트)(PTO방식),2018-04-03,2018-04-03,2018-04-03,2018-04-03,19.7,0.0,1.6,53.6,15.99
3,북부분소,경상북도 안동시 중구동,북인력파종기,자주형파종기,파종기,북인력파종기,2018-08-22,2018-08-26,2018-08-22,2018-08-22,29.3,0.0,2.4,63.1,20.56
4,북부분소,경상북도 안동시 중구동,북인력파종기,자주형파종기,파종기,북인력파종기,2018-08-22,2018-08-26,2018-08-23,2018-08-23,28.5,0.5,4.0,70.5,14.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27535,농업기술센터,경상북도 안동시 송하동,콩정선기,탈곡기및정선기,콩정선기,콩정선기,2020-12-31,2020-12-31,2020-12-31,2020-12-31,-7.9,0.0,3.5,44.8,10.65
27536,서부분소,경상북도 안동시 풍천면,서땅속작물수확기(트),트랙터및작업기,수확기,서땅속작물수확기(트),2021-01-01,2021-01-02,2021-01-01,NaT,NaN,NaN,NaN,NaN,NaN
27537,서부분소,경상북도 안동시 풍천면,서땅속작물수확기(트),트랙터및작업기,수확기,서땅속작물수확기(트),2021-01-01,2021-01-02,2021-01-02,NaT,NaN,NaN,NaN,NaN,NaN
27538,북부분소,경상북도 안동시 도산면,북콩정선기,탈곡기및정선기,콩정선기,북콩정선기,2020-12-31,2020-12-31,2020-12-31,2020-12-31,-7.9,0.0,3.5,44.8,10.65
27539,서부분소,경상북도 안동시 풍산읍,서콩정선기,탈곡기및정선기,콩정선기,서콩정선기,2020-12-31,2020-12-31,2020-12-31,2020-12-31,-7.9,0.0,3.5,44.8,10.65

In [75]:
merge_df.isnull().sum()

임대사업장              0
주소                11
임대농기계2             0
구분                 0
종류                 0
기종2              653
임대시작기간             0
임대반납기간             0
date               0
일시                 8
평균기온(°C)           8
일강수량(mm)           8
평균 풍속(m/s)         8
평균 상대습도(%)         8
합계 일사량(MJ/m2)      8
dtype: int64

In [76]:
merge_df.to_csv("C:/Users/user/Desktop/NIA/project1/data/preprocessing/with weather.csv", encoding = 'euc-kr')