In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime
from datetime import timedelta

import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

from statsmodels.formula.api import ols

In [ ]:
df=pd.read_csv('C:/Users/user/Desktop/안동/address.csv',encoding='euc-kr')
df

In [ ]:
weather=df[['date','평균기온(°C)','일강수량(mm)','평균 풍속(m/s)','평균 상대습도(%)','합계 일사량(MJ/m2)']].drop_duplicates()
weather

In [ ]:
weather.to_csv('C:/Users/user/Desktop/안동/wether.csv',encoding='euc-kr')

In [ ]:
df.sort_values(by='date')

In [ ]:
wes=df[df['임대사업장']=='서부분소']
nor=df[df['임대사업장']=='북부분소']
cen=df[df['임대사업장']=='농업기술센터']

# 서부

In [ ]:
westdata = pd.DataFrame({'건수' : wes.groupby(['종류','date'])[['종류','date']].size()}).reset_index()
westdata = westdata.pivot(index = '종류', columns = 'date', values = '건수')
westdata.fillna(0, inplace = True)
westdata

In [ ]:
westdata=westdata.T

In [ ]:
westdata

In [ ]:
dt_index = pd.date_range(start='20180102', end='20210102')
dt_list = dt_index.strftime("%Y-%m-%d").tolist()
df_date = pd.DataFrame( {'date' : dt_list})

In [ ]:
west1 = pd.merge(westdata, df_date, how = 'outer', on = 'date').sort_values('date').set_index('date')
west1

In [ ]:
west1.fillna(0, inplace = True)

In [ ]:
west1=west1.T

In [ ]:
west1

In [ ]:
west1=west1.reset_index()

In [ ]:
west1

In [ ]:
jongryu_1=list(west1['index'])
jongryu_1

In [ ]:
west1=west1.set_index('index')
west1

In [ ]:
nnn=[]
nnn1=pd.DataFrame()
for i in range(len(jongryu_1)):
    nnn2=[]
    nnn=west1.iloc[[i]].transpose().reset_index()
    nnn=nnn.rename(columns={jongryu_1[i]:'건수'})
    nnn['종류']=jongryu_1[i]
    nnn2=nnn[['date','종류','건수']]
    nnn1=pd.concat([nnn1,nnn2])
nnn1

In [ ]:
 nnn1.head(50)

In [ ]:
nnn1.to_csv('C:/Users/user/Desktop/안동/westdata.csv',encoding='euc-kr')

# 북부

In [ ]:
nordata = pd.DataFrame({'건수' : nor.groupby(['종류','date'])[['종류','date']].size()}).reset_index()
nordata = nordata.pivot(index = '종류', columns = 'date', values = '건수')
nordata.fillna(0, inplace = True)
nordata

In [ ]:
nordata=nordata.T
nordata

In [ ]:
dt_index = pd.date_range(start='20180102', end='20210102')
dt_list = dt_index.strftime("%Y-%m-%d").tolist()
df_date = pd.DataFrame( {'date' : dt_list})

In [ ]:
nor1 = pd.merge(nordata, df_date, how = 'outer', on = 'date').sort_values('date').set_index('date')
nor1

In [ ]:
nor1.fillna(0, inplace = True)
nor1=nor1.T
nor1

In [ ]:
nor1=nor1.reset_index()
nor1

In [ ]:
jongryu_2=list(nor1['index'])
jongryu_2

In [ ]:
nor1=nor1.set_index('index')
nor1

In [ ]:
nnn=[]
nnn1=pd.DataFrame()
for i in range(len(jongryu_2)):
    nnn2=[]
    nnn=nor1.iloc[[i]].transpose().reset_index()
    nnn=nnn.rename(columns={jongryu_2[i]:'건수'})
    nnn['종류']=jongryu_2[i]
    nnn2=nnn[['date','종류','건수']]
    nnn1=pd.concat([nnn1,nnn2])
nnn1

In [ ]:
# nnn1.to_csv('C:/Users/user/Desktop/안동/nordata.csv',encoding='euc-kr')

# 농업기술센터

In [ ]:
cendata = pd.DataFrame({'건수' : cen.groupby(['종류','date'])[['종류','date']].size()}).reset_index()
cendata = cendata.pivot(index = '종류', columns = 'date', values = '건수')
cendata.fillna(0, inplace = True)
cendata

In [ ]:
cendata=cendata.T
cendata

In [ ]:
dt_index = pd.date_range(start='20180102', end='20210102')
dt_list = dt_index.strftime("%Y-%m-%d").tolist()
df_date = pd.DataFrame( {'date' : dt_list})

In [ ]:
cen1 = pd.merge(cendata, df_date, how = 'outer', on = 'date').sort_values('date').set_index('date')
cen1

In [ ]:
cen1.fillna(0, inplace = True)
cen1=cen1.T
cen1

In [ ]:
cen1=cen1.reset_index()
cen1

In [ ]:
jongryu_3=list(cen1['index'])
jongryu_3

In [ ]:
cen1=cen1.set_index('index')
cen1

In [ ]:
nnn=[]
nnn1=pd.DataFrame()
for i in range(len(jongryu_3)):
    nnn2=[]
    nnn=cen1.iloc[[i]].transpose().reset_index()
    nnn=nnn.rename(columns={jongryu_3[i]:'건수'})
    nnn['종류']=jongryu_3[i]
    nnn2=nnn[['date','종류','건수']]
    nnn1=pd.concat([nnn1,nnn2])
nnn1

In [ ]:
#nnn1.to_csv('C:/Users/user/Desktop/안동/cendata.csv',encoding='euc-kr')